<head>
	<link rel="stylesheet" href="/css/form.css">
</head>

<section class="sec-form">
  <div class="container">
    <div class="row">
      <div class="information">
        <div class="section-title" style="padding: 30px;">
            <h1>Acess Denied</h1>
            <a href="/" style="color: #fff; font-size: 1.3rem;">Voltar</a>
        </div>
      </div>
    </div>
  </div>
</section>