<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}}{{else}}forStudy | Nordino Mavie Dev{{/if}}</title>
    <meta name="description" content="Uma plataforma inovadora de ensino que conecta rapidamente diversos assuntos, proporcionando aprendizado dinâmico e personalizado.">  
    <meta name="keywords" content="aprendizado, inteligência digital, ensino, conhecimento, plataforma educacional, conexões rápidas">  
    <meta name="author" content="Nordino Mavie Dev | @Developersmz">
    <link rel="icon" href="/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
</head>
<body>
    {{{ body }}}
</body>
</html>