<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}}{{else}}Fast correspondence | Nordino Mavie Dev{{/if}}</title>
</head>
<body>
    {{{ body }}}
</body>
</html>